.user-address
    line-height: 30pt
    color: white

.small-margin-left
    margin-left: 10px

.card-container
    width: 100%
    padding-right: 0
    padding-left: 0
    margin: 0 10px 10px 10px

    &:last-child
        margin: 0 10px 0 10px

.content-provider-container
    max-width: 800px
    padding: 30px 10px
    margin: auto

    .list-group
        width: 100%

.buttons-list button
    margin-right: 10px
    margin-top: 10px

.bucky-small-text
    margin-left: 20px
    color: rgb(195, 177, 17)

@media (min-width: 576px)
    // .content-provider-container
