.hidden
    display: none

.user-address
    line-height: 30pt
    color: white

.small-margin-left
    margin-left: 10px

.card-container
    width: 100%
    padding-right: 0
    padding-left: 0
    margin: 0 10px 10px 10px

    &:last-child
        margin: 0 10px 0 10px

.content-provider-container
    max-width: 800px
    padding: 30px 10px
    margin: auto

    .list-group
        width: 100%

.buttons-list button
    margin-right: 10px
    margin-top: 10px

.bucky-small-text
    color: rgb(195, 177, 17)

.no-space-left
    margin-left: 0
    padding-left: 0

.advertiser-block
    width: 100%
    border-radius: 10px
    margin: 5px
    padding: 15px
    box-shadow: 0 0 20px 0px #b1b1b1
    cursor: pointer
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    text-align: center

    &:hover
        background-color: var(--primary)
        opacity: 0.9
        color: white

    &.selected
        background-color: var(--primary)
        color: white

    img
        max-width: 200px

.status
    background-color: #2196F3
    margin: 10px
    color: white
    padding: 20px
    border-radius: 10px
    text-align: center

.card-dashboard
    word-break: break-all

    h5
        padding-left: 0

.padding-left-0
    padding-left: 0

.tags-dashboard
    color: #9c9c9c
    margin-left: 0

.width-100
    width: 100%

@media (min-width: 576px)
    .advertiser-block
        width: calc(50% - 10px)

@media (min-width: 768px)
    .advertiser-block b
        display: block

@media (min-width: 992px)
    .advertiser-block
        width: calc(100% / 3 - 10px)
